:root {
  --clr-white: rgb(247, 247, 247);
  --clr-grey: rgb(221, 234, 217);
  --clr-black: rgb(49, 49, 49);
  --clr-accent-gold: rgb(172, 139, 56);
  --clr-background-pink: rgb(242, 168, 125);
  --clr-background-green: rgb(78, 177, 145);
  --clr-background-sand: rgb(227, 185, 135);
  --clr-background-peach: rgb(249, 173, 129);
}
