@import "_reset";
@import "_defaults";
@import "_vars";
@import "_header";
@import "_leaflet";
// Home Layout
@import "_banner";
@import "_quickinfo";
@import "_destination";
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.main {
  padding-bottom: 5rem;
}

#map {
  height: 400px;
}
.quickInfo {
  background-color: var(--clr-white);
}
.background-svg {
  fill: #fa80723d;
}
